h1 {
  color: rgb(193, 31, 87);        /* Bright pink heading */
  text-align: center;    /* Put it in the middle */
  font-family: "Comic Sans MS", cursive; /* Fun font */
  font-size: 2.5rem;
  border-radius: 10px;
}

h2 {
  color: rgb(174, 74, 126);         /* Greeting in purple */
  text-align: center;    /* Centered */
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2rem;
  background: rgb(252, 151, 215);    /* Yellow highlight */
  padding: 10px;         /* Space around text */
  border-radius: 10px;   /* Rounded corners */
  box-shadow: 2px 2px 5px gray; /* Little shadow */
}
.navbar {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: rgb(215, 107, 214);
  color: white;
  padding:10px;
  display: listitem;
  justify-content: left; 
  align-items: left;
  font-family: "Trebuchet MS", sans-serif;
  box-shadow: 0 4px 6px rgba(196, 177, 177, 0.423);
  z-index:1000;
}

.navbar h3 {
  margin: 0;
  font-size: 2rem;
}

.navbar p {
  margin: 0;
  font-size: 1.2rem;
}
body {
  margin: 0;
  padding-top: 20px;
  min-height: 100vh;         
  display: flex; 
  background-color: #fefcfe;
  flex-direction: column;   /* stack elements vertically */
  align-items: center;      /* center horizontally */
  justify-content: center;
}