h1 {
  color: rgb(109, 51, 149);
  text-align: center;
  font-family: "Comic Sans MS", cursive;
}
h2 {
  color: rgb(151, 108, 194);
  text-align: center;
  font-size: 18px;
}

p {
  color: rgb(127, 75, 179);
  text-align: center;
  font-size: 18px;
}

body {
  margin: 0;
  min-height: 100vh;         
  display: flex;              
  justify-content: center;    
  align-items: center; 
  background-color: #efe0f5;
}
