body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #ffffff;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.datetime {
  margin-bottom: 20px;
}

.add-btn {
  padding: 8px;
  margin-bottom: 15px;
  background: #1c4514;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.color-picker p {
  margin-bottom: 8px;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.pink { background: #629548; }
.blue { background: #275349; }
.lavender { background: #138c53; }

/* Main */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f4f4f8;
}

/* Editor */
.note-editor {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.note-editor input,
.note-editor textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.save-btn {
  padding: 8px 12px;
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Notes */
.notes-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note-card {
  padding: 15px;
  border-radius: 8px;
}

.note-card h3 {
  margin: 0 0 5px 0;
}

.note-card span {
  font-size: 12px;
  color: #0d4c33;
}
.note-actions {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.note-actions button {
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(67, 178, 117);
}
